.sidebar__compose {
    margin-top: 15px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    text-transform: capitalize !important;
    color: grey;
    padding: 15px 35px !important;
    border-radius: 30px !important;
    box-shadow: 0 2px 5px -2px rgb(0, 0, 0, 0.75);
}

.sidebar__footer {
    display: flex;
    justify-content: center;
}
